<div class="search-container">
  <input type="text" class="search-input" placeholder="Enter City Name">
  <button class="search-button">Search</button>
</div>

<div class="content">
  <div class="row">
    <div class="image-container">
      <img src="../assets/fair-weather.jpg" alt="Weather image">
    </div>
    <div class="temperature">
      25°C
    </div>
  </div>

  <div class="row">
    <div class="more-info">
      <div class="info-box">
        <p>Expected temperature: 28°C</p>
      </div>
      <div class="info-box">
        <p>Humidity: 45%</p>
      </div>
      <div class="info-box">
        <p>Wind speed: 4km/h</p>
      </div>
      <div class="info-box">
        <p>Pressure: 500 mmHg</p>
      </div>
    </div>
  </div>
</div>